terraform_ohpc/ohpc_hosts
terraform_ohpc/terraform.tfstate
terraform_ohpc/terraform.tfstate.backup
slurmscripts/scale.py
.venv/
terraform_ohpc/.terraform/
terraform_ctl/.terraform
terraform_ctl/terraform.tfstate
terraform_ctl/terraform.tfstate.backup
clouds.yaml