---
title: "Secure Remote Desktop"
cluster: "{{ cluster_name }}"
attributes:
  desktop: "xfce"
  bc_num_slots: 1
  bc_queue: compute
  bc_account: root
  bc_num_hours:
    value: 8
    help:  "Default is 8 hours"
  bc_email_on_started: null
