OIDCProviderMetadataURL https://iris-iam.stfc.ac.uk/.well-known/openid-configuration
OIDCClientID        "{{ secret_oidc_client_id }}"
OIDCClientSecret    "{{ secret_oidc_client_secret }}"
# TODO: remove this!!!
OIDCSSLValidateServer Off

OIDCClaimPrefix "OIDC-"
OIDCResponseType "code"
OIDCScope "openid email profile preferred_username"
OIDCOAuthVerifyJwksUri "https://iris-iam.stfc.ac.uk/jwk"

OIDCRedirectURI      http://{{ public_url }}/oidc
OIDCCryptoPassphrase "{{ secret_oidc_crypto_passphrase }}"

# Keep sessions alive for 8 hours
OIDCSessionInactivityTimeout 28800
OIDCSessionMaxDuration 28800

# Set REMOTE_USER
OIDCRemoteUserClaim preferred_username

# Don't pass claims to backend servers
OIDCPassClaimsAs environment

# Strip out session cookies before passing to backend
OIDCStripCookies mod_auth_openidc_session mod_auth_openidc_session_chunks mod_auth_openidc_session_0 mod_auth_openidc_session_1
