#!/usr/bin/bash

# Create new slurm nodes
# Runs on slurm control node (ohpc-login) as user SlurmUser ("slurm")
# Is called by slurmcld with names of nodes (in Slurm's hostlist expression format) to be brought back from power savings mode.

LOGFILE=/var/tmp/slurmpwr.log # TODO: check this is writeable and find some way of erroring if not!!
# TODO: check this is writeable and find some way of erroring if not!!
(
SCALESCRIPT={{ playbook_dir }}/slurmscripts/scale.py
echo "`date`: $0 $*"

# expand hostlist - space-separated rather than one-per line:
resume_hosts=$(scontrol show hostnames $1 | tr '\n' ' ')
echo "resuming instances $resume_hosts"

# call the script on the ansible/tf control host to add these
ssh {{ ansible_user }}@{{ control_host }} -- $SCALESCRIPT resume $resume_hosts

) >> $LOGFILE
