#!/usr/bin/bash -x

# Take down slurm nodes
# Runs on slurm control node (ohpc-login) as user SlurmUser ("slurm")
# Is called by slurmcld with names of nodes (in Slurm's hostlist expression format) to be put into power savings mode.

SUSPENDSCRIPT=/home/centos/eiffel-ohpc/slurmscripts/suspend.sh
ANSIBLE_HOST=93.186.40.108

echo "`date`: suspending $0 $*" >> /etc/slurm/powersave.log

# expand hostlist - space-separated rather than one-per line:
suspend_hosts=$( scontrol show hostnames $1 | tr '\n' ' ')

# call the script on the ansible/tf control host to remove these
ssh {{ ansible_user }}@$ANSIBLE_HOST -- $SUSPENDSCRIPT "$suspend_hosts"

# tell slurmd (don't need sudo as running as slurm)
scontrol update NodeName=$1 state=POWER_DOWN